body {
    display: grid;
    grid-template-rows: 5rem auto 3em;
}

.playHeader h3 {
    font-size: 1.5em;
}

.customSvg {
    transform: scale(3.05);
}

.headerSection__player {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player__XPnumber {
    width: 2em;
    font-size: 1.25em;
    text-align: center;
    font-weight: 700;
    position: absolute;
    top: 1em;
    z-index: 1;
}

.experienceSvg {
    margin: .5em 0 0 0;
    transform: scale(5) translateX(.125rem);
}

.playerInfo {
    display: flex;
    flex-direction: column;
    width: 20em;
}

.playerText {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.playerText h3 {
    margin-top: 0;
    margin-bottom: 0.25em;
}

.playerName {
    margin-left: 1.5em;
}

.playerProgress {
    width: 100%;
    border-bottom: .375rem solid white;
}

.playerProgressBar {
    width: 100%;
    height: .375rem;
    background-color: var(--purple);
}

.headerSection__currencies {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.currencyContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.canvas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.canvas__nav {
    display: grid;
}

.canvas__navItem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
    margin-right: 75%;
    border-bottom: .1875rem solid white;
    transition: margin-right .1s ease-out, background-color .2s ease-out;
}

.canvas__navItem:last-child {
    border-bottom: none;
}

.canvas__navItem:last-child:hover {
    background-color: var(--warning-red);
}


.canvas__navItem:hover {
    margin-right: 70%;
}

.canvas__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.startBtn--waiting {
    animation-name: startBtn; 
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.startBtn {
    font-size: 4rem;
    line-height: 2em;
    padding: 0 1em;
    background-color: var(--dark-background);
    border: .5rem solid var(--dark-green);
    transition: border-color .2s ease-out, background-color .2s ease-out;
}

.startBtn:hover {
    background-color: var(--focus-green);
    border: .5rem solid var(--focus-green);
    animation-duration: 0s;
}

@keyframes startBtn {
    0% {border-color: var(--focus-green);}
    80% {border-color: var(--dark-green);}
    100% {border-color: var(--focus-green);}
}

.canvas__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.challengesBtn {
    background-color: var(--purple);
    line-height: 2.5em;
    font-size: 1.5em;
    padding: 0 3em;
}

.version {
    color: var(--font-light-gray);
    font-weight: 700;
    margin-right: 2em;
}

.progressBar {
    width: 100%;
    height: 15px;
    margin: 20px 0;
}